{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col d-flex justify-content-center">
        <h1>Room: {{ room_code }}</h1>
	</div>
</div>

<div class="row">
	<div class="col">
        <div class="d-flex justify-content-center">
            <input id="buttonActivate" type="button" class="btn btn-success btn-circle">
        </div>
	</div>
</div>

<script>

	var can_activate = true;
	$("#buttonActivate").mousedown(button_down_trigger);
	$("#buttonActivate").hover(() => { alert("LEL");});

	function button_down_trigger() {
		if (can_activate) {
			can_activate = false;
			$.get("{{ url_for('button_down', room_code = room_code) }}", activation_request_callback);
		}
	}

	function activation_request_callback(response, status) {
		if (response == 0) {
			window.location.href = "{{ url_for('index') }}";
		} else {
			if (response == 1) {
				document.getElementById("audioHorn").play();
			}
			$("#buttonActivate").attr("value", "#" + response);
			start_reset_timeout();
		}
	}

	function start_reset_timeout() {
		window.setTimeout( () => {
				can_activate = true;
				$("#buttonActivate").attr("value", "");
		},
		{{ activation_reset }} );
	}
</script>

<audio id="audioHorn" src="{{ url_for('static', filename='airhorn.mp3') }}" type="audio/mpeg" preload="auto"></audio>

{% endblock %}
